{% extends 'base.html' %}
{% block title %} All teachers per course {% endblock %}
{% block content %}
<table class="table">
<thead>
<tr>
    <th>Full name</th>
    <th>Specialization</th>
</tr>
</thead>
<tbody>
{% for teacher in get_all_teachers %}
    <tr>
    <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
    <td>{{ teacher.specialization }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}