{% extends 'base.html' %}
{% block title %} Create a new student {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %} {#  securitate #}
                {{ form.as_p }} {#   genereaza formularul #}
                <button type="submit" class="btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
