{% extends 'base.html' %}
{% block title %} More information {% endblock %}
{% block content %}


    <div class="card text-center">
        <div class="card-header">
            {{ student.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
            <p class="card-text">Age: {{ student.age }}. </p>
            <p>Date of birth: {{ student.date_of_birth }}.</p>
            <p>Gender: {{ student.gender }}</p>
            <p>Teacher: {{ student.teacher.first_name }} {{ student.teacher.last_name }}</p>
            <a href="{% url 'list-of-students' %}" class="btn btn-primary btn-sm">Go to list of students</a>
        </div>
        <div class="card-footer text-muted">
            Updated at {{ student.updated_at }}
        </div>
    </div>
{% endblock %}