{% extends 'base.html' %}
{% block title %} List of cars {% endblock %}
{% block content %}
  <h1>List of cars</h1>
{% for car in all_cars %}
    {% if car.year > 2000 %}
    <p>{{ car.brand }}</p>
        <p>{{ car.model }}</p>
        <p>{{ car.year }}</p>
    {% endif %}

{% endfor %}
    <a class="btn btn-primary" href="{% url 'list_of_students' %}">Go to students</a>

{% endblock %}
