{% extends 'base.html' %}
{% block title %} List of students {% endblock %}
{% block content %}
<h1>List of students</h1>
{% for student in all_students %}
    {% if student.age >= 30 %}


    <p>{{ student.first_name }}</p>
    <p>{{ student.last_name }}</p>
    <p>{{ student.age }}</p>
    {% endif %}
{% endfor %}
    <a class="btn btn-primary" href="{% url 'list_of_cars' %}">Go to cars</a>

{% endblock %}




