{% extends 'base.html' %}
{% block title %} More information {% endblock %}
{% block content %}


    <div class="card text-center">
        <div class="card-header">
            {{ teacher.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
            <p class="card-text">Specialization: {{ teacher.specialization }}. </p>
            <a href="{% url 'list-of-teachers' %}" class="btn btn-primary btn-sm">Go to list of teachers</a>
        </div>
        <div class="card-footer text-muted">
            Updated at {{ teacher.updated_at }}
        </div>
    </div>
{% endblock %}